/* Shared common Style */
/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
:root{
    --primary-color:#FF42A5;
    --secondary-color:#534C64;
    --text-title:#0B0223;
}
.primary-btn{
    padding: 12px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 48px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 25px;
    margin-right: 25px;
    text-transform: uppercase;
}
/* End common Style */

/* Start header section */
/* Start NavBar style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    width: 75%;
    margin: auto;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo h2{
    color: var(--text-title);
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 10px;
}
.nav-logo h2>span{
    color: var(--primary-color);
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style: none;
    padding-right: 30px;
}
.nav-list a{
    color:#3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-list button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-list a>i{
    padding-left: 10px;
}
.nav-youtube{
    color: #F61C0D;
}
.nav-tiktok{
    color: black;
}
/* End NavBar style */
/* Start Banner Style */
header{
    padding-bottom: 70px;
}
.banner-background{
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
    background-image: url("../asset/images/Group\ 14.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: start;
}
.banner-container{
    width: 75%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-description h2{
    color: var(--text-title);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-description h1{
    font-size: 5.8rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    list-style: none;
    color:var(--secondary-color) ;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 15px;
}
.banner-list i{
    color:var(--primary-color) ;
    font-size: 1rem;
    padding-right: 5px;
}
.banner-images{
    width: 40%;
}
.banner-images >img{
    max-width: 100%;
}
.banner-btn{
    background-color: #4EC5F7;;
}
/* End Banner Style */
/* End header section */
/* Start Main Style */
main{
    width:75%;
    margin: auto;
    padding-bottom: 50px;
}

/* Start Online Games Style */
.online-games-description{
    text-align: center;
    padding-bottom: 35px;
}
.online-games-title{
    color: var(--text-title);
    font-size: 3rem;
    font-weight: 700;
}
.online-games-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-sub-title{
    color: var(--secondary-color);
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}
.online-games-box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.online-games-box{
    width: 100%;
}
.online-games-box> img{
    max-width: 100%;
}
.online-games-box P{
    color: var(--secondary-color);
    font-size: .9rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
}
/* End Online Games Style */
/* Start Play Games Style */
.play-games{
    padding: 100px 0px;

}
.play-games-container{
    display: flex;
    gap: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-games-images{
    display: flex;
    width: 50%;
}
.play-games-img{
    display: flex;
    width: 100%;
}
.play-games-img1{
    width: 100%;
}

.play-games-img3{
    width: 200px;
    position: relative;
    top: 280px;
    right: 120px;
}



.play-games-description{
    width: 50%;
}
.play-games-title{
    color: var(--text-title);
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}
.play-games-title span{
    background: linear-gradient(108deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-games-sub-title{
    color: var(--secondary-color);
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}
/* End Play Games Style */
/* Start Our Game Style */
.our-game{
    background-color: #FFF9FC;
    padding: 50px 0px;
}
.our-game-container{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.our-game-list{
    display: inline-flex;
    align-items: center;
    border: 1px solid #fff;
    padding-right: 10px;
    border-radius: 50px;
    background-color: #fff;
    color: var(--text-title);
    cursor: pointer;
}
.our-game-list p{
    padding-left: 5px;
    font-size: 1rem;
    font-weight: 500;
}
.our-game-list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.our-game-container .our-game-list:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
/* End Our Game Style */
/* End Main Style */

/* Start Footer style */
.footer{
    background-color: #0B0223;
    padding: 100px 0px;
}
.footer-container{
    text-align: center;
}
.footer-logo{
    display: inline-flex;
    align-items: center;
    color: wheat;
}

.footer-logo img{
    width: 100%;
}

.footer-logo h2{
    color: #fff;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 10px;
    padding-left: 8px;
}
.footer-logo h2>span{
    color: var(--primary-color);
}
.footer-list{
    padding: 35px 0px;
}
.footer-list a{
    padding: 0px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.footer-social-icon a{
    padding: 0px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}
.footer-list2{
    padding: 35px 0px;
}
.footer-list2 a{
    padding: 0px 25px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.footer-copy p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
i.fa-brands.fa-twitter {
    color: #249EF0;
}
i.fa-brands.fa-facebook {
    background-color: #083DC3;
    color: white;
    border-radius: 50%;
}
i.fa-brands.fa-youtube {
    color: #FF0808;
}
i.fa-brands.fa-linkedin {
    color: #1469C7;
}
i.fa-brands.fa-instagram {
    color: #FF156B;
}
i.fa-brands.fa-apple {
    color: white;
}

/* End Footer style */




/* Responsive Design */
/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    
    /* Start header section */
    /* Start NavBar style */
    .nav-container{
        flex-direction: column;
        gap: 30px;
    }
    .nav-item{
        flex-direction: column;
        gap: 30px;
    }
    /* End NavBar style */
    /* Start Banner Style */
    .banner-background{
        background: #FFF;
        box-shadow: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        height: 100%;
   
    }
    .banner-description{
        background-image: url("../asset/images/Group\ 14.png");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 35px 0px 35px 20px ;
    }
    .banner-description >h2{
        font-size: 2.8rem;
    }
    .banner-list{
        font-size:1.1rem ;
    }
    .banner-images{
        width: 100%;
    }
    .banner-images >img{
        width: 100%;
    }
    /* Start Banner Style */
    /* End header section */

    /* Start Main Style */
    /* Start Online Games Style */
    .online-games-box-container{
        grid-template-columns: repeat(1,1fr);
    }
    /* End Online Games Style */
    /* Start Play Games Style */
    .play-games-container{
        flex-direction: column-reverse;
    }
    .play-games{
        padding-bottom: 0px;
    }

    .play-games-images{
        width: 100%;
    }
    .play-games-img{
        display: block;
    }
    .play-games-img1{
        width: 95%;
    }

    .play-games-img3{
        width: 100px;
        top: -100px;
        right: -212px;
    }

    .play-games-description{
        width: 100%;
        text-align: center;
    }
    /* End Play Games Style */
    /* Start Our Game Style */
    .our-game {
        margin-top: -90px;
    }
    .our-game-container {
        width:100%;
        gap: 10px;
    }
    .our-game-list {
        padding: 5px 0px;
    }
    .our-game-list img {
        width: 25px;
        height: 25px;
    }
    .our-game-list p {
        padding-left: 2px;
        font-size: 0.7rem;
    }
    /* End Our Game Style */
    /* End Main Style */

    /* Start Footer style */

    .footer{
        background-color: #0B0223;
        padding: 70px 0px;
    }
    .footer-container{
        width: 80%;
        margin: auto;
    }
    .footer-logo img{
        width: 30%;
    }
    
    .footer-logo h2{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        padding-left: 8px;
    }
    .footer-logo h2>span{
        color: var(--primary-color);
    }
    .footer-list{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
    }
    .footer-list a{
        padding: 10px 0px;
    }
    .footer-social-icon {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .footer-social-icon a{
        padding: 15px 25px;
        color: #FFF;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 700;
    }

    .footer-list2{
        padding: 50px 0px;
    }

    .footer-list2 {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .footer-list2 a{
        padding: 10px 0px;
    }

    .footer-copy p{
        padding: 0px 50px;
    }

    /* End Footer style */
}

/* Medium devices (tablets, 768px and down) */
@media screen and (min-width: 576.1px) and (max-width: 768px) {
    /* Start header section */
    header{
        width: 100%;
    }
    /* Start NavBar style */
    .nav-container{
        gap: 120px;
    }
    .nav-logo{
        width: 60px;
    }
    .nav-logo img{
        width: 100%;
    }
    .nav-logo h2{
        font-size: 2rem;
        padding-left: 5px;
    }
    .nav-list{
        padding: 0px 8px;
    }
    .nav-list button{
        padding: 7px 15px;
    }
    .nav-list a>i{
        padding: 4px;
    }
    /* End NavBar style */
    /* Start Banner Style */
    /* Start Banner Style */
    /* End header section */

    /* Start Main Style */
    /* Start Online Games Style */
    .online-games-box-container{
        grid-template-columns: repeat(2,1fr);
    }
    /* End Online Games Style */
    /* End Main Style */

}

